@charset utf-8;

main{
    padding-top: 15px;
    padding-bottom: 15px;
}


/*==========================================*/
/*=============Article Styles===============*/
/*==========================================*/

main article{
    width: 70%;
    float: left;
    padding-right: 50px;
    padding-left: 15px;
}





/*==========================================*/
/*===============Aside Styles===============*/
/*==========================================*/

aside{
    width: 30%;
    float: left;
    border-left: border;
    box-shadow: -4px 0px 5px 0px rgba(0,0,0,0.75);
}

aside ul li{
    padding-left: 20px;
}

aside h2{
    text-align: center;
}


/*Should Be Moved To Universal Styles Eventually*/
h1{
    
}


/*Mobile*/
@media all and (max-width: 480px){

}

/*Reset*/
main ul li{
    list-style: none;
}