@charset utf-8;

main{
    padding-top: 15px;
    padding-bottom: 15px;
}

main::after{
    clear: both;
    content: "";
    display: table;
}


/*==========================================*/
/*=============Article Styles===============*/
/*==========================================*/

 main article{
    width: 70%;
    float: left;
    padding-left: 15px;
}

#info{
    padding-right: 50px;
    
}
article section{
    padding: 10px;
}




/*==========================================*/
/*===============Aside Styles===============*/
/*==========================================*/

aside{
    width: 30%;
    float: left;
    border-left: border;
    box-shadow:  -1px 0px 10px -2px rgba(0,0,0,0.75);
    padding-right: 10px;
}

aside ul li{
    padding: 5px;
    padding-left: 25px;
}

aside ul{
    padding-bottom: 10px;
}

aside h2{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

aside a{
    display: inline-block;
    text-decoration: none;
    font-family: "Days One";
    font-size: 1.0em;
    color: grey;
}
aside a:hover{
    color: darkcyan;
    
    
}

/*==========================================*/
/*===============Trivia Styles===============*/
/*==========================================*/
#controls{
    width: 100%;
    padding-left: 10px;
    display: block;
    
}
#timer{
    float: left;
    padding: 0px 20px;
}
#Start{
    padding: 3px 50px;
}

.question{
    width: 100%;
}


#qText h2{
    text-align: center;
}

#qText p{
    text-align: center;
    padding-left: 10px;
}

fieldset{
    padding: 0px 0px;
    margin: 0px 0px;
    
    border: none;
    width: 50%;
    display: block;
    float: left;
    
    text-align: center;
    
    padding: 10px 0px;
}

#next{
    clear: both;
    float: right;
}

/*Mobile*/
@media all and (max-width: 480px){

}

    
main li{
    list-style: none;
}
    
