html{
    background-color: white;
    background-image: url("../img/background.jpg");
    background-size: auto 100%;
    background-attachment: fixed;
    height: 100%;
}
body{
    background-color: white;
    min-height: 100%;
    
    /*Set the width and center it*/
    width: 80%;
    margin: 0px auto;
    max-width: 960px;
}

h1{
    font-size: 1.5em;
    color: black;
    font-family: "Days One";
}

h2{
    font-size: 1.1em;
    color: black;
    font-family: "Days One";
}

.fixContainer::after {
 clear: both;
 content: “”;
 display: table;
}
@media all and (max-width: 480px){
    
    body{
        width: 100%;
    }
    
}