/* gets the font */
@font-face {
  font-family: 'Days One';
  font-style: normal;
  font-weight: 400;
  src: local('Days One'), local('DaysOne-Regular'), url(http://fonts.gstatic.com/s/daysone/v7/levHiAHcPaqxEf5sqeyx1_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


html{
    background-color: white;
    background-image: url("../img/background.jpg");
    background-size: auto 100%;
    background-attachment: fixed;
    height: 100%;
}
body{
    background-color: white;
    min-height: 100%;
    
    /*Set the width and center it*/
    width: 80%;
    margin: 0px auto;
    max-width: 960px;
}

h1{
    font-size: 1.5em;
    color: black;
    font-family: "Days One";
}

h2{
    font-size: 1.1em;
    color: black;
    font-family: "Days One";
}


@media all and (max-width: 480px){
    
    body{
        width: 100%;
    }
    
}