<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Regal Cinema - Home</title>
    <link href="../Code/css/reset.css" rel="stylesheet"/>
    <link href="Navbar.css" rel="stylesheet">
    
    
    <script src="Navbar.js"></script>
    
</head>
<body>
    <header>
        <img id="logo" src="../Code/img/Logo.png" alt="Logo">
        
        <nav id="navBar">
            <div id="navIcon">&#9776; Menu</div>
            
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Trivia</a></li>
                <li><a href="#">Merchendise</a></li>
                <li><a href="#">Order</a></li>
            </ul>
        </nav>
        
    </header>
    <article>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </article>
</body>
</html>