<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Regal Cinema - Home</title>
    <link href="../Code/css/reset.css" rel="stylesheet"/>
    <link href="Navbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Days+One" />
    
    <script src="Navbar.js"></script>
    
</head>
<body>
    <header>
        <img id="logo" src="../Code/img/Logo.png" alt="Logo">
        
        <nav id="navBar">
            <div id="navIcon">&#9776; Menu</div>
            
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Trivia</a></li>
                <li><a href="#">Merchendise</a></li>
                <li><a href="#">Order</a></li>
            </ul>
        </nav>
        
    </header>
    <article>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer>
            <div id="paneOne">
                 <section id="bottomNav">
                    <h2>Navigation:</h2>
                    <ul>
                        <li><a href="#">Link One</a></li>
                        <li><a href="#">Link Two</a></li>
                        <li><a href="#">Link Three</a></li>
                        <li><a href="#">Link Four</a></li>
                        <li><a href="#">Link Five</a></li>
                    </ul>
                </section>
                <section id="about">
                    <h2>About Our Site:</h2>
                    <article>
                        Some strange thing about stuff and things. about the site and stuff like this and yeah. So basicly this is just random text as a placeholder 
                    </article>
                </section>
            </div>
            <section id="paneTwo">
               the best &diams; HTML FAN SITE &diams; every made
            </section>
        </footer>
        
    </article>
</body>
</html>